/*====================
=======Structure======
======================*/

body{
    background-color: hsl(226 63% 45%);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    height: 10vh;
    justify-content: start;
}

main{
    margin: 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
========Logo=========
======================*/

.logo{
    width: max-content;
}

.logo svg{
    height: 3em;
    width: 3em;
}

.logo svg path{
    fill:hsl(19, 100%, 50%);
}

/*====================
========Title=========
======================*/

.title{
    margin-left: 1em;
}

.title h1{
    text-align: left;
}

/*====================
========Subtitle======
======================*/

.subtitle{
    background-color: hsl(207, 85%, 69%);
    margin-bottom: 2em;
    padding: 0.2em 0;
    width: 100%;
}

.subtitle h2{
    text-align: center;
}

/*====================
=========CRUD=========
======================*/

.crud{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 100%;
}

.crud__table, .crud__form{
    min-width: 45%;
    max-width: 45%;
}

.crud__table-grid, .crud__table-flex{
    margin-bottom: 1em;
    width: 100%;
}

.crud__table-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 0.5em;
}

.crud__table-grid-element{
    width: 100%;
}

.crud__table-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.crud__table-flex-element{
    flex-basis: 25%;
}

.crud__form{
    width: 100%;
}

.crud__form-element{
    margin-bottom: 1em;
    width: 100%;
}

.crud__form-label{
    margin-bottom: 1em;
    width: 100%;
}

.crud__form-label label{
    color: hsl(0, 0%, 100%);
	font-family: "Ubuntu";
	font-weight: 600;
	font-size: 1em;
	transition: color 0.5s;
}

.crud__form-label--active label{
	color: hsl(19, 100%, 50%);
}

.crud__form-input{
    width: 100%;
}

.crud__form-input input, 
.crud__form-input textarea,
.crud__form-input select {
    background-color: hsl(0, 0%, 100%);
	border: none;
	border-bottom: 1px solid hsl(0, 0%, 73%);
	box-sizing: border-box;
    color: hsl(0, 0%, 0%);
	font-family: "Ubuntu";
	font-weight: 600;
	padding: 0.2em 0.5em;
	width: 100%;
}

.crud__form-input input:focus, .crud__form-input textarea:focus{
	outline: none;
}

.crud__form-input select, .crud__form-input select:focus, .crud__form-input select:active { 
	outline: 0 !important; 
}

.crud__store-button{
	background-image: linear-gradient(to right, #253786 0%, #02A8B0 50%, #253786 100%);
    background-size: 200% auto;
    border-radius: 1em;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 0px;
    margin-top: 1em;
	min-width: 20%;
	padding: 1em 2em;
	transition: 0.5s;
	text-decoration: none;
}

.crud__store-button:hover{
    background-size: 100% auto;
}

.crud__store-button:focus {
	outline: 0;
}

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-label label{
        font-size: 2em;
    }

    .crud__form-input input, 
    .crud__form-input textarea,
    .crud__form-input select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .copyright p{
        font-size: 1.5em;
    }
}


@media (max-width:1024px) {

    header{
        height: max-content;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
        margin: 1.5em 0;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}

@media (max-width:479px) {

    header{
        height: max-content;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo{
        height: max-content;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        height: max-content;
        margin-left: 0.5em;
    }

    .crud{
        display: block;
        margin: 1.5em 0;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }

    .copyright{
        margin: 1em 0;
    }

    .author{
        padding: 1em;
    }
}




